AP/LAB4/SimpleFactoryDesignPattern/BlackTea.class
AP/LAB4/SimpleFactoryDesignPattern/GreenTea.class
AP/LAB4/SimpleFactoryDesignPattern/LemonTea.class
AP/LAB4/SimpleFactoryDesignPattern/Main.class
AP/LAB4/SimpleFactoryDesignPattern/Tea.class
AP/LAB4/SimpleFactoryDesignPattern/TeaFactory.class
AP/LAB4/SimpleFactoryDesignPattern/TeaStore.class
